@import 'variables';

:root {
  --font-size-small: 16px;
  --font-size-large: 30px;
  --background-color: white;
  --font-color:black;
  --secondary-color:blue;

}



html, body {
  font: 100% $font-stack;
  color: var(--font-color);
  margin:0;
  height: 100vh;
  font-size: var(--font-size-small);
  background-color: var(--background-color) ;
 
  
  
}

h1 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: bold;
  color: var(--font-color);
}



.exhibition_images {
  display: flex;
  flex-direction:column;
  gap: 10px;
  width: 100%; 
 

  img {
    max-width: 500px; // Set your desired maximum width // Ensures that images take up the full width within the flex container
    height: auto; // Allows images to adjust their height based on the aspect ratio
  }

}






p{

  margin:0;
}

// Grid

.grid-container {
  padding: 0.5rem;
  display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: 0.5fr minmax(4fr, max-content) 1fr;
	grid-template-areas:
		"title title title navigation navigation navigation"
		"main main main main main main"
		". footer footer footer footer footer";


}







// Home Page

.category_title {
  font-style: italic;
}

.exhibitions-list {
  padding: 0;
  margin:0;
  display: flex;
  flex-direction: row;
  gap:30px;
}



.title-links:hover {
  color: var(--secondary-color);
 text-decoration: none;
}

// Header


.header_title {
	grid-area: title;
  margin: 0;
  padding:0;
  height: 100px;
}

.header_title h1 {
  font-size:$font_size_large;
  color: var(--font-color);
  font-weight: 200;
  margin:0;
}

.navigation_container {
  margin:0;
  grid-area: navigation;
 
  
}

// Navigation

.navigation_links {
  margin: 0;
  padding: 0;
  list-style: none; 
  display: flex;
  flex-direction: row;
  gap:10px;
  color: var(--font-color);
  text-decoration: none;

}


.links a {
  text-decoration: none;
  color: var(--font-color);
  
}

.links a:hover {
  color: var(--secondary-color);
 
}



// Exhibition Pages

.exhibition_content {
  grid-area: main;
  display: flex;
  flex-direction: column;
  gap:0.5rem;
  min-height: 510px;
}

.exhibition_content a{

  color: var(--font-color);

}

.exhibition_content a:hover{

  color: lightgray;
  text-decoration: none;
  
}

.exhibition_images {
  max-width: 600px;
}


// flex & grid for exhibition list

.exhibitions-container{
	grid-area: main;
  
 

}

.exhibition-elements{

  display: flex;
  flex-direction: row;
  margin-bottom:20px;
 

}

.elements-title{
  
  width:100px;
  border-top: 1px solid var(--font-color);
  padding-top:10px;
  padding-left: 20px;
 
 
}


.exhibition-elements-list{

  width:100%;
  
  border-top: 1px solid var(--font-color);
  border-left: 1px solid var(--font-color);
  padding-bottom: 100px;
  padding-top:10px;
  padding-left: 20px;
  margin-bottom: 20px;

  
}

.exhibition-elements-list li{
  list-style: none;
  margin-bottom:10px;
}

.exhibition-elements-list a{
  list-style: none;
  text-decoration: none;
  color: var(--font-color);
 

}



// Footer

.footer-container {
  grid-area: footer;
 
  padding-top:10px;
  padding-left: 20px;
  height: 200px;
}

.footer-elements {

  display:flex;
  flex-direction: row;
  gap: 10%;
}

.about-content{

  grid-area: main;
  border-top: 1px solid var(--font-color);
  padding-top:10px;
  padding-left: 20px;
  padding-bottom: 100px;
  min-height: 400px;

}
.about-description {

  max-width: 300px;
}
// Contact Form

.form{
  grid-area: main;
  min-height: 510px;
}

form {
  display: flex;
  flex-direction: column;
}

.form-elements input {
  min-width: 200px;


}

.form-group {
  display: flex;
  flex-direction: row;


}

.form-elements-container {
  display:flex;
  flex-direction:row;
  width:100%;

  border-top: 1px solid var(--font-color);
  border-left: 1px solid var(--font-color);
  padding-bottom: 100px;
  padding-top:10px;
  padding-left: 20px;
}

.form-elements {
  display: flex;
  flex-direction: column;
  width: 400px;
  gap:20px;
}

.location-contents {

  margin:1rem;
}

.accessibility-elements {

  display: flex;
  flex-direction: row;
  gap:1rem;
  margin-top: 1rem;
}

input{
  font-family: $font-stack;
  font-size: var(--font-size-small);
  font-style: italic;
  border-top: none;
  border-left: none;
  border-right:none;
  border-bottom: 1px solid #DCDADA;
  outline: none;
}

textarea {
  font-family: $font-stack;
   font-size: var(--font-size-small);
   font-style: italic;
  resize: none;
  border: 1px solid #DCDADA;
  outline: none;
  min-width: 200px;

}

button {
  font-family: $font-stack;
  font-size: var(--font-size-small);
  border: none;
  padding:5px;
  border-radius: 4px;
  max-width: 100px;
  
}

button:hover {
  
  cursor: pointer;
  background-color: var(--font-color);
  color: white;
}




/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px) {
  .grid-container {
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr minmax(4fr, max-content) minmax(1fr, max-content); /* Corrected typo here */
    grid-template-areas:
      "title title title navigation navigation navigation"
      "main main main main main main"
      "footer footer footer footer footer footer";
  }

  .header-svg {
    transform: translateX(-40px) translateY(10px);
  }





  
  .footer-container {
    grid-area: footer;
   
    padding-top:0px;
    padding-left: 0px;
    height: 100%;
  }

.footer-elements {
  display:flex;
  flex-direction: column;
  gap: 30px;
  width: 100%; 
  max-width: none;
}

.form-elements-container {
  display:flex;
  flex-direction:row;
  width:100%;

  border-top: 1px solid var(--font-color);
  border-left: 0px solid var(--font-color);
  padding-bottom: 100px;
  padding-top:10px;
  padding-left: 0px;
}



.form-elements {
  width: 100%; 
}

.elements-title{
  min-width:50px;
  border-top: 1px solid var(--font-color);
  padding-top:10px;
  padding-left: 0px;
}



input, textarea {
  max-width: 100%;
  width: 100%;
  margin-right: 0; 
}


}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
  
  .grid-container {
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr minmax(4fr, max-content) minmax(1fr, max-content); /* Corrected typo here */
    grid-template-areas:
      "title title title navigation navigation navigation"
      "main main main main main main"
      "footer footer footer footer footer footer";
  }

  .header-svg {
    transform: translateX(-40px) translateY(10px);
  }
  
  .footer-container {
    grid-area: footer;
   
    padding-top:0px;
    padding-left: 0px;
    height: 100%;
  }

.footer-elements {
  display:flex;
  flex-direction: column;
  gap: 30px;
  width: 100%; 
  max-width: none;
}

.form-elements-container {
  display:flex;
  flex-direction:row;
  width:100%;

  border-top: 1px solid var(--font-color);
  border-left: 0px solid var(--font-color);
  padding-bottom: 100px;
  padding-top:10px;
  padding-left: 0px;
}



.form-elements {
  width: 100%; 
}

.elements-title{
  min-width:50px;
  border-top: 1px solid var(--font-color);
  padding-top:10px;
  padding-left: 0px;
}



input, textarea {
  max-width: 100%;
  width: 300px;
  margin-right: 0; 
}

}