@import 'variables';

body {
  font: 100% $font-stack;
  color: $primary-color;
 
  
}

img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

p{

  margin:0;
}

// Grid

.grid-container {
  padding: 1rem;
  display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 3fr 1fr;
	grid-template-areas:
		"title navigation ."
		"main main main"
		"footer footer footer";


}

.exhibitions-container{
	grid-area: main;
  background-color: red;

}

.grid-container li {
  margin-bottom: 1rem;
  list-style-type: none;
}

.grid-container li a {
  color: $primary-color;
  text-decoration: none;
}

.grid-container li a:hover {
  text-decoration: underline;
}


// Home Page

.category_title {

  margin-bottom: 1rem;
  text-decoration:underline;
}

.exhibitions-list {
  padding: 0;
  margin:0;
}

.title-links:hover {
 color: lightgrey;
 text-decoration: none;
}

// Header


.header_title {
	grid-area: title;
  background-color: blue;

}

.header_title h1 {
  font-size:$font_size_large;
  color: $primary-color;
  font-weight: 200;
  margin:0;
}

.navigation_container {
  margin:0;
  grid-area: navigation;
  background-color: green;
  
}

.navigation_container li {
  color: $primary-color;

}

.navigation_links {
  margin: 0;
  padding: 0;
  list-style: none; 
  display: flex;
  flex-direction: row;
  gap:10px;

}

// Exhibition Pages

.exhibition_content {
  grid-area: main;
  display: flex;
  flex-direction: column;
  max-width: 60%;
  gap:0.5rem;
}

.exhibition_content a{

  color: black;

}

.exhibition_content a:hover{

  color: lightgray;
  text-decoration: none;
  
}


// Footer

.footer-container {
  grid-area: footer;
  background-color: yellow;
}

.about-content{

  grid-area: main;
}

.contact-content{

  grid-area: main;
}